/* -- characters-list.scss: -- */

.characters-list {
  app-characters-card {
    &.first {
      border-top: 4px solid #b8a45a;
    }

    &.last {
    }

    &.even,
    &.odd {
      display: block;
    }

    &.even {
      background-color: #191313;
    }
    &.odd {
      background-color: #2b1818;
    }
  }

  .empty-list {
    h3,
    p {
      text-align: center;
    }
  }

  p {
    margin-bottom: 5px;
  }
}
