/* -- characters-card.scss: -- */

// CARD EVEN-ODD STYLING:
:host(.even) {
  .card-header h3 {
    background-color: #110f10;
  }
}
:host(.odd) {
  .card-header h3 {
    background-color: #4a1018;
  }
}

// CARD STYLING:
.characters-card {
  margin: 15px auto;
  max-width: 600px;
  border: 2px solid #c1121f;
  border-radius: 5px;

  // CARD HEADER STYLING:
  .card-header {
    width: 100%;
    display: block;

    h3 {
      text-align: center;
      margin-block: 0 15px;
      margin-inline: 0;
      padding: 10px;
    }

    img {
      width: 480px;
      height: 485px;
      display: flex;
      justify-self: center;
    }
  }

  // CARD BODY STYLING:
  .card-body {
    padding: 15px;

    // Paragraphs and blockquote styling:
    blockquote {
      background-color: #110f10;
      color: #b94a3b;
      margin-top: 0;
      padding: 10px;
    }

    p {
      strong {
        color: #b8a45a;

        &:not(:last-of-type > strong) {
          margin-right: 5px;
        }
      }

      &:last-of-type > strong {
        display: block;
        text-align: center;
      }
    }

    // Unique badge styling:
    .badge-container {
      .badge {
        font-size: 1.4rem;
        font-weight: bold;
        margin: 5px 0;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 10px;

        &.protagonist,
        &.co-protagonist {
          color: #000;
        }

        &.antagonist,
        &.catalyst,
        &.supporting {
          color: #e8dddd;
        }

        &.protagonist {
          background-color: #b8a45a;
        }

        &.co-protagonist {
          background-color: #8caa83;
        }

        &.antagonist {
          background-color: #c1121f;
        }

        &.catalyst {
          background-color: #b94a3b;
        }

        &.supporting {
          background-color: #555;
        }
      }
    }

    // Status styling:
    .status-container {
      p {
        margin-block: 0;
        min-width: 141px;
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 10px;

        .alive {
          color: #8caa83;
        }

        .dead {
          color: #c1121f;
        }

        .unknown {
          color: #54a5f5;
        }
      }

      // Status toggle button styling:
      .toggle-btn {
        background-color: dodgerblue;

        &:hover {
          background-color: #54a5f5;
        }
        &:active {
          background-color: dodgerblue;
        }
      }
    }
  }
}
