<!-- characters-card.html: -->

<div class="characters-card">
  <header>
    <h3>{{ character().name }}</h3>
  </header>

  <blockquote>{{ character().quote }}</blockquote>

  <p><strong>Age:</strong> {{ character().age }}</p>
  <p><strong>Gender:</strong> {{ character().gender }}</p>
  <p><strong>Played by:</strong> {{ character().played_by }}</p>

  @switch (character().character_type) {
    @case ('Protagonist') {
      <span class="badge protagonist">Protagonist</span>
    }
    @case ('Co-Protagonist') {
      <span class="badge co-protagonist">Co-Protagonist</span>
    }
    @case ('Antagonist') {
      <span class="badge antagonist">Antagonist</span>
    }
    @case ('Catalyst') {
      <span class="badge catalyst">Catalyst</span>
    }
    @default {
      <span class="badge supporting">Supporting Character</span>
    }
  }

  @if (character().status !== undefined) {
    @if (character().status) {
      <p class="status alive">Status: Alive</p>
    } @else {
      <p class="status dead">Status: Dead</p>
    }
  } @else {
    <p class="status unknown">Status: Unknown</p>
  }
  <button class="toggle-btn" (click)="toggleStat()">Update</button>

  <p><strong>Description:</strong>{{ character().description }}</p>
</div>
